/* Layout base */
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

/* Lado esquerdo - imagem */
.img-container {
    width: 40%;
    height: 100%;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    background-color: #fff;
}

/* Lado direito - fundo verde claro */
.back {
    flex: 1;
    background-color: #d8e4d0; /* verde claro */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Wrapper central */
.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Logo */
.logo {
    background: #ddd;
    width: 160px;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    margin-bottom: 25px;
}

/* Caixa de login */
.login-box {
    background: rgba(255, 255, 255, 0.4);
    border: 2px solid #3a773a;
    border-radius: 8px;
    padding: 30px 40px;
    width: 350px;
    text-align: center;
}

/* Título e texto */
h2 {
    color: #2f6b2f;
    margin: 0;
    font-size: 1.4rem;
}

p {
    margin-top: 5px;
    color: #333;
    font-size: 0.95rem;
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
}

label {
    text-align: left;
    font-size: 0.9rem;
    color: #2f6b2f;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #3a773a;
    outline: none;
    color: #2e622e; 
    background-color: #fff; 
}

input:focus {
    border-color: #2e622e; 
}

input::placeholder {
    color: #3a773a; 
    opacity: 0.8;
}


/* Botão principal */
.btn-buscar {
    background-color: #3a773a;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.btn-buscar:hover {
    background-color: #2e622e;
}

/* Link de voltar */
.voltar {
    margin-top: 15px;
    color: #3a773a;
    text-decoration: none;
    font-size: 0.9rem;
    text-align: center;
}

.voltar:hover {
    text-decoration: underline;
}
